<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" />
        <title>User sign in</title>
        <link rel="stylesheet" type="text/css" href="/actix/static/style.css">
    </head>

    <body>
        <div class="container">
            <h1 class="page-title">Sign in</h1>
            <form method="POST" action="/actix/users/sign_in" class="flex-col">
                {% if let Some(validation_error) = validation_error %}
                    <div class="panel danger">
                        <!-- `white-space: pre-line` treats \n as <br/>. It cannot be added in a global css class because the implied behaviour would depend if line breaks happen even in the html template -->
                        <p style="white-space: pre-line;">{{validation_error}}</p>
                    </div>
                {% endif %}
                <input id="email" name="email" placeholder="Enter your email address" type="email" class="w100 input" value="{{prev_input_email}}" autofocus />
                <input id="password" name="password" placeholder="Enter your password" type="password" class="w100 input" />
                <div class="action-row w100">
                    <button type="submit" class="btn">
                        Sign in
                    </button>
                    <a href="/actix/users" class="btn">
                        Back to users
                    </a>
                </div>
            </form>
        </div>
    </body>

</html>