<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" />
        <title>User detail</title>
        <link rel="stylesheet" type="text/css" href="/actix/static/style.css">
        <link rel="stylesheet" type="text/css" href="/actix/static/ex5_user_authentication/user_detail.css">
    </head>

    <body>
        <div class="container">
            <h1 class="page-title">User detail</h1>
            <div class="user-list">
                <div class="user-item">
                    <span class="user-label">Email:</span>
                    <span class="user-value">{{user.email}}</span>
                </div>
                <div class="user-item">
                    <span class="user-label">Creation date:</span>
                    <span class="user-value">{{user.date_creation}}</span>
                </div>
                <div class="user-item">
                    <span class="user-label">Password hash:</span>
                    <span class="user-value">{{user.password_hash}}</span>
                </div>
            </div>
            <div class="action-row">
                <a href="/actix/users" class="btn">
                    Back to users
                </a>
            </div>
        </div>
    </body>

</html>