<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" />
        <title>List of users</title>
        <link rel="stylesheet" type="text/css" href="/actix/static/style.css">
    </head>

    <body>
        <div class="container">
            <h1 class="page-title">User list</h1>
            {% if users.len() == 0 %}
                <p>No users</p>
            {% else %}
                <ul class="card-list">
                    {% for user in users %}
                    <li class="item outer-link">
                        <a class="unset inner-link" href="{{"/actix/users/{}"|format(user.id)}}">
                            {{ user.email }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="action-row">
                {% if is_client_logged_in %}
                    <form method="POST" action="/actix/users/log_out">
                        <button type="submit" class="btn">
                            Log out
                        </button>
                    </form>
                    <a href="/actix/users/private" class="btn">
                        Go to your private page
                    </a>
                {% else %}
                    <a href="/actix/users/sign_in" class="btn">
                        Sign in
                    </a>
                {% endif %}
                <a href="/actix/users/sign_up" class="btn">
                    Sign up
                </a>
                <form method="POST" action="/actix/users/delete">
                    <button type="submit" class="btn danger">
                        Delete all users
                    </button>
                </form>
            </div>
        </div>
    </body>

</html>