.user-list {
    display: flex;
    flex-direction: column;
}

.user-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user-label {
    font-weight: bold;
    margin-right: 10px;
}

.user-value {
    font-style: italic;
}